# Local development environment overrides
/local.nix

#Task
/.task/
/Taskfile.yaml
/Taskfile.yml

# Misc
.DS_Store
.todo

# Terraform cache
.terraform/

# Terraform state
*.tfstate
*.tfstate.*

# Terraform backend configuration
*.tfbackend
