<h1 align="center">{{ projectname }}</h1>

<div align="center">

{{ description }}

[![Lint]({{ repourl }}/actions/workflows/lint.yaml/badge.svg)]({{ repourl }}/actions/workflows/lint.yaml)
[![Apply]({{ repourl }}/actions/workflows/apply.yaml/badge.svg)]({{ repourl }}/actions/workflows/apply.yaml)
{%- if docs %}
[![Docs]({{ repourl }}/actions/workflows/docs.yaml/badge.svg)]({{ repourl }}/actions/workflows/docs.yaml)
{%- endif %}

</div>

---

## 💡 About

`{{ projectname }}` contains [`Terraform`](https://www.terraform.io) resources.
{%- if docs %}

## 📄 Further Reading

More in-depth documentation can be found
[here]({{ docsurl }}).
{%- endif %}

## 💻 Development

Read more about how to develop the project
[here]({{ repourl }}/blob/main/CONTRIBUTING.md).
